
@{
    ViewBag.Title = "Index";
}

<h2>Product List</h2>
<div style="width:90%; margin:0 auto;">
    <table id="myTable" class="table table-striped">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Category Id</th>
                <th>Category Name</th>
              
            </tr>
        </thead>
    </table>
</div>



